.App {
    text-align: center;
    background-color: rgb(100, 100, 194);
}

.newsBackground {
    background-image: url("https://i.natgeofe.com/n/8a3e578f-346b-479f-971d-29dd99a6b699/nationalgeographic_2751013_16x9.jpg");
    background-position: center;
    background-size: auto;
}

.jumbotronBackground {
    background-image: url("https://media-assets.wired.it/photos/615f3a94fca82abbd0eae3a5/master/pass/1533125620_aaa.jpg");
    background-position: center;
    background-size: cover;
    color: azure;
    text-shadow: 2px 1px #acacac;
}
